<app-header />
<!-- if tag have no content between them can be written as self closing tags -->
<main>
  <ul id="users">
    @for(user of users;track user.id){
    <li>
      <!-- used in the latest version 17 or above -->
      <!-- <li *ngFor="let user of users"> -->
      <app-user [user]="user" (select)="onSelectUser($event)" />
    </li>
    }
  </ul>

  <!-- The "$event" variable is not just available when working with custom events! It can also used on built-in-events(like "click") to get hold of potentially emitted values. -->
  @if(selectedUser){
  <app-tasks [userId]="selectedUser.id" [name]="selectedUser!.name" />
  <!-- <app-tasks *ngIf="selectedUser; else fallback" [name]="selectedUser!.name" /> -->
  }@else {
  <p id="fallback">Select a user to see the task</p>
  <!-- <ng-template #fallback>
     <p  id="fallback">Select a user to see the task</p>
   </ng-template> -->
  }
</main>
